{{{{raw-helper}}}}
<ui-select ng-model="MODEL_COL_FIELD" my-multiselect multiple style="position:absolute">
  <ui-select-match>{{$item.value}}</ui-select-match>
  <ui-select-choices repeat="option.id as option in editDropdownOptionsArray">
    <div ng-bind-html="option.value"></div>
  </ui-select-choices>
</ui-select>
{{{{/raw-helper}}}}
