<!doctype html>
<html ng-app>
<head>
    <title>Time Sheet</title>
    {{{addedSections.head}}}

</head>
<body>
    {{{body}}}

    <script src="lib/angular/angular.js"></script>
    {{{addedSections.script}}}
    {{{reloadifyScript}}}
</body>
</html>
