{{{{raw-helper}}}}
<div class="container" ng-controller="DataCtrl">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Job Title</th>
    </tr>
    <tr ng-repeat="member in members">
      <td>{{member.name}}</td>
      <td>{{member.jobTitle}}</td>
    </tr>
  </table>
  Member Number: {{members.length}}
</div>
{{{{/raw-helper}}}}

{{#section 'script'}}
  <script src="/js/data-members.js"></script>
{{/section}}